<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".asp" mimeType="application/x-httpd-php" />
            <mimeMap fileExtension=".aspx" mimeType="application/x-httpd-php" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
              <remove fileExtension=".css" />
              <mimeMap fileExtension=".css" mimeType="text/css" />
              <remove fileExtension=".js" />
              <mimeMap fileExtension=".js" mimeType="application/javascript" />
              <remove fileExtension=".json" />
              <mimeMap fileExtension=".json" mimeType="application/json" />
              <remove fileExtension=".rss" />
              <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
              <remove fileExtension=".html" />
              <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
              <remove fileExtension=".xml" />
              <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
              <remove fileExtension=".mp3" />
              <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
              <remove fileExtension=".mp4" />
              <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
              <remove fileExtension=".ogg" />
              <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
              <remove fileExtension=".ogv" />
              <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
              <remove fileExtension=".webm" />
              <mimeMap fileExtension=".webm" mimeType="video/webm" />
              <remove fileExtension=".svg" />
              <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
              <remove fileExtension=".svgz" />
              <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
              <remove fileExtension=".eot" />
              <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
              <remove fileExtension=".ttf" />
              <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
              <remove fileExtension=".ttc" />
              <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
              <remove fileExtension=".otf" />
              <mimeMap fileExtension=".otf" mimeType="font/opentype" />
              <remove fileExtension=".woff" />
              <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
              <remove fileExtension=".crx" />
              <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
              <remove fileExtension=".xpi" />
              <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
              <remove fileExtension=".safariextz" />
              <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
              <remove fileExtension=".flv" />
              <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
              <remove fileExtension=".f4v" />
              <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
              <remove fileExtension=".ico" />
              <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
              <remove fileExtension=".webp" />
              <mimeMap fileExtension=".webp" mimeType="image/webp" />
              <remove fileExtension=".htc" />
              <mimeMap fileExtension=".htc" mimeType="text/x-component" />
              <remove fileExtension=".vcf" />
              <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
              <remove fileExtension=".torrent" />
              <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
              <remove fileExtension=".cur" />
              <mimeMap fileExtension=".cur" mimeType="image/x-icon" />
        </staticContent>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <verbs>
                    <add verb="DELETE" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="POST" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="httpss" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>  
        <!-- Habilitamos la compresión GZIP y especificamos las cabeceras de cache a un año -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" sendCacheHeaders="true" cacheControlHeader="max-age=31536000" dynamicCompressionDisableCpuUsage="90" staticCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0" staticCompressionEnableCpuUsage="0">
  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doStaticCompression="true" doDynamicCompression="true" dynamicCompressionLevel="10" staticCompressionLevel="10" />
  <staticTypes>
    <add mimeType="text/*" enabled="true" />
            <add mimeType="message/*" enabled="true" />
            <add mimeType="application/javascript" enabled="true" />
            <add mimeType="application/x-javascript" enabled="true" />
            <add mimeType="application/json" enabled="true" />
            <add mimeType="*/*" enabled="false" />
  </staticTypes>
          <dynamicTypes>
            <add mimeType="text/*" enabled="true" />
            <add mimeType="message/*" enabled="true" />
            <add mimeType="application/javascript" enabled="true" />
            <add mimeType="application/x-javascript" enabled="true" />
            <add mimeType="application/json" enabled="true" />
            <add mimeType="*/*" enabled="false" />
          </dynamicTypes>
</httpCompression>      
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <!-- Habilitamos la compresión y las cabeceras de cache en los manejadores AJAX de ASP.NET -->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true" />
    </scripting>
  </system.web.extensions>
</configuration>
